<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Effort.EF6" version="2.0.0-beta6" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="NMemory" version="2.0.7" targetFramework="net46" />
  <package id="Z.EntityFramework.Extensions" version="6.13.0" targetFramework="net46" />
</packages>
