<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.0" targetFramework="net452" />
  <package id="StackExchange.Redis.Extensions.Core" version="2.1.0" targetFramework="net452" />
  <package id="StackExchange.Redis.Extensions.Newtonsoft" version="2.1.0" targetFramework="net452" />
</packages>