.card-layout-z1 {
	border: 1px solid #000;
	box-shadow: 5px 5px 5px #000;
	border-radius: 0;
}
.card-layout-z1 .card-body {
	border-radius: 0;
	padding-left: 20px;
}
.card-layout-z1 .card-header {
	border-radius: 0 !important;
	background: rgb(204, 0, 0);
	background: -webkit-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: -o-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: -moz-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	color: #fff;
	padding-left: 20px;
}
.card-layout-z1 h2 {
	padding: 5px 0;
}
.card-layout-z1 h3:not(:first-child) {
	margin-top: 15px;
}
.card-layout-z1 ul {
	padding-left: 20px;
}
.card-layout-z1 li {
	list-style: none;
	padding: 5px 0;
}
.card-layout-z1 li .fa {
	font-size: 24px;
	position: relative;
	top: 5px;
}

.card-layout-z1  a {
	color: #c00;
}