.language-csharp .c1 {
	color: #008000;
}
.language-csharp .nf {
	color: #c00;
}

.card-code {
	border: 0;
	border-radius: 0;
}
.card-code .card-header {
	border: 0;
	border-radius: 0;
	font-size: 24px;
}

.card-code-dark-inverse {
	box-shadow: 10px 10px grey;
	background: #fff;
}
.card-code-dark-inverse .card-header {
	background: #777;
	background: -webkit-radial-gradient(circle, #777, #444);
	background: -o-radial-gradient(circle, #777, #444);
	background: -moz-radial-gradient(circle, #777, #444);
	background: radial-gradient(circle, #777, #444);
    color: #fff;
	text-shadow: 2px -1px rgba(0, 0, 0, 0.7);
}
.card-code-light {
	box-shadow: 10px 10px grey;
	background-color: rgba(255, 255, 255, 1);
	background: -webkit-radial-gradient(circle, #fff, #fff, #ccc);
	background: -o-radial-gradient(circle, #fff, #fff, #ccc);
	background: -moz-radial-gradient(circle, #fff, #fff, #ccc);
	background: radial-gradient(circle, #fff, #fff, #ccc);
}
.card-code-light .card-header {
	background: #333;
	background: -webkit-radial-gradient(circle, #333, #111);
	background: -o-radial-gradient(circle, #333, #111);
	background: -moz-radial-gradient(circle, #333, #111);
	background: radial-gradient(circle, #333, #111);
    color: #fff;
	text-shadow: 2px -1px rgba(0, 0, 0, 0.7);
}

article h3.example {
	background: #777;
	background: -webkit-radial-gradient(circle, #777, #444);
	background: -o-radial-gradient(circle, #777, #444);
	background: -moz-radial-gradient(circle, #777, #444);
	background: radial-gradient(circle, #777, #444);
    color: #fff;
	text-shadow: 2px -1px rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
}
article figure.highlight {
	background: #333;
	background: -webkit-radial-gradient(circle, #333, #222, #111);
	background: -o-radial-gradient(circle, #333, #222, #111);
	background: -moz-radial-gradient(circle, #333, #222, #111);
	background: radial-gradient(circle, #333, #222, #111);
	color: #fff;
	padding: 10px;
}
article figure.highlight pre {
	color: #d4d4d4;
}
article figure.highlight .language-csharp .nf {
	/*color: #569cd6;*/
	color: #569cd6;
}
article2 h3.example {
	background: #333;
	background: -webkit-radial-gradient(circle, #333, #111);
	background: -o-radial-gradient(circle, #333, #111);
	background: -moz-radial-gradient(circle, #333, #111);
	background: radial-gradient(circle, #333, #111);
    color: #fff;
	text-shadow: 2px -1px rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
}
article2 figure.highlight {
	background: #ccc;
	background: -webkit-radial-gradient(circle, #fff, #fff, #ccc);
	background: -o-radial-gradient(circle, #fff, #fff, #ccc);
	background: -moz-radial-gradient(circle, #fff, #fff, #ccc);
	background: radial-gradient(circle, #fff, #fff, #ccc);
	padding: 10px;
}


