.hero {
	background: #333;
	background: -webkit-radial-gradient(circle, #333, #111);
	background: -o-radial-gradient(circle, #333, #111);
	background: -moz-radial-gradient(circle, #333, #111);
	background: radial-gradient(circle, #333, #111);
	color: #fff;
	padding: 60px 0;
	min-height: 800px;
}
.hero .hero-header {
	background-image: url('/images/logo256X256-opacity.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.hero .hero-header h1 {
	margin-top: 60px;
	margin-bottom: 40px;
}
.hero .hero-header h1 .display-1 {
	font-size: 9rem;
	font-weight: 700;
}
.hero .hero-header .download-count .item-text {
	color: #888;
	font-size: 1.2rem;
	margin-top: 30px;
}
.hero .hero-examples .row:first-child {
	padding-bottom: 30px;
}
.hero .hero-examples h5 {
	background: rgb(204, 0, 0);
	background: -webkit-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: -o-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: -moz-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
	height: 140px;
	width: 140px;  
    text-align: center;
    padding: 40px 0px;
	margin: 0;
	text-shadow: 2px -1px rgba(0, 0, 0, 0.7);
}
.hero .hero-examples .hero-arrow img{
	width: 90px;
}
.hero .hero-examples .hero-arrow-ltr  {
	text-align: right;
}
.hero .hero-examples .hero-arrow-rtl  img{
	transform: scaleX(-1);
}
@media (max-width: 575px) {
	.hero .hero-header .download-count img {
		width: 350px;
	}
}
@media (max-width: 991px) {
	.hero .hero-header {
		text-align: center;
	}
	.hero .hero-header .download-count img {
		width: 350px;
	}
	.hero .hero-examples h5 {
		margin: auto;
	}
	.hero .hero-examples .hero-arrow {
		display: none;
	}
	.hero .hero-examples h5 {
		margin-bottom: 20px;
	}
	.hero .hero-examples .row:last-child {
		margin-top: 40px;
	}
}
@media (max-width: 1199px) {
	.hero .hero-header .download-count img {
		width: 350px;
	}
}