.highlight .k { color: #0000ff; font-weight: normal }
.highlight .nb { color: #0000ff; }
.highlight .nf { color: #c00; font-weight: 700;}
.highlight .c1 { color: #008000;}
.highlight .cm { color: #008000;}
.highlight .o { font-weight: normal;}