.site-header .nav-md  {
	background-color: white;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index: 1030;
}
.site-header .nav-md .header-brand a {
	color: #000;
}
.site-header .nav-md  .top-nav-md-menu {
	text-align: center;
	padding-bottom: 20px;
}
.site-header .nav-md  .top-nav-md-menu a.nav-link  {
	color: #000;
}
.site-header .nav-md .top-nav-md-menu .nav-item a .fa {
	margin-right: 5px;
}
.site-header .nav-md .top-nav-md-menu .nav-item a .fa-angle-right{
	margin-left: 5px;
	margin-right: 0;
}
@media (max-width: 991px) {
	.site-header .nav-md  {
		display: "";
	}
}
@media (min-width: 992px) {
	.site-header .nav-md  {
		display: none;
	}
}