.site-footer {
	margin-top: 60px;
}
.site-footer .fixed-bottom {
	background: -moz-linear-gradient(top, #333, #222);
    background: -webkit-linear-gradient(top, #333, #222);
    background: -ms-linear-gradient(top, #333, #222);
    background: -o-linear-gradient(top, #333, #222);
    background: linear-gradient(top, #333, #222);
	color: #666;
	padding-top: 5px;
	padding-bottom: 5px;
}
.site-footer .footer-site-copyright {
    padding-top: 4px;
}
.site-footer a {
    color: #777;
}
.site-footer a:hover {
    color: #777;
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}
.site-footer .footer-site-social a {
    font-size: 24px;
    padding: 0 10px;
}
@media (max-width: 61em) {
  .site-footer {
	padding: 20px 0;
  }
}
@media (max-width: 575px) {
  .site-footer {
	display: none;
  }
}