/* top-nav-lg-context */
.site-header .nav-context {
	background: #333;
	background: -webkit-radial-gradient(circle, #333, #111);
	background: -o-radial-gradient(circle, #333, #111);
	background: -moz-radial-gradient(circle, #333, #111);
	background: radial-gradient(circle, #333, #111);
}
.site-header .nav-context nav {
	height:40px;
	padding-bottom:0px;
	padding-top:0px
}
.site-header .nav-context nav li {
	font-size:20px;
	text-transform:uppercase
}
.site-header .nav-context nav li.active {
	background: rgb(204, 0, 0);
	background: -webkit-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: -o-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: -moz-radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
	background: radial-gradient(circle, rgb(204, 0, 0), rgb(170, 0, 0), rgb(154, 0, 0));
}
.site-header .nav-context nav li .nav-link {
	padding-left:1rem !important;
	padding-right:1rem !important
}
.site-header .nav-context nav li .nav-link .fa-home {
	font-size:24px
}
.site-header .nav-context nav li a.nav-link:hover {
	color:rgba(255, 255, 255, 1) !important;
}

@media (max-width: 991px) {
	.top-nav-lg.top-nav-dual  {
		display: none;
	}
}
@media (min-width: 992px) {
	.top-nav-lg.top-nav-dual  {
		display: "";
	}
}